---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Calendly from "../components/Calendly.astro";
import { kt, th, mh, ds, vector } from "../assets";
import testimonials from "../data/testimonials.json";
import TestimonialCard from "../components/TestimonialCard.astro";
import Carousel from "../components/CarouselComponent.astro";
import Test from "../components/Test.astro";

const metaData = {
  title: "Testimonials | Sunbird Speech Therapy",
  description:
    "We'll walk you through step-by-step on how we help you lower your out-of-pocket costs to do your energy efficieny upgrades.",
};
---

<Layout title={metaData.title} metaDescription={metaData.description}>
  <!-- <section>
    <div class="overflow-hidden">
      <Test />
    </div>
  </section> -->
  <section class="bg-[--secondary]">
    <div class="max-container py-12 max-xl:px-6 max-md:text-center">
      <div class="flex max-md:justify-center">
        <Image src={vector} alt="vector" class="py-6 max-md:p-4" />
      </div>
      <h2
        class="max-md:text-4xl max-md:text-center max-md:w-full text-[--primary-text max-md:p-4"
      >
        Testimonials
      </h2>

      <div class="grid grid-cols-2 gap-4 max-md:grid-cols-1 m-8 lg:m-4">
        <!-- < 1 /> -->
        <div class="bg-white p-8 grid gap-4">
          <div class="aspect-square overflow-hidden">
            <Image src={ds} alt="Service-4" class="h-full object-cover" />
          </div>
          <h6 class="flex-1 text-wrap text-center">
            “Our son was diagnosed with bilateral moderate sensorineural hearing
            loss as a newborn. We were in the middle of a pandemic and feeling
            overwhelmed about raising a baby in quarantine, let alone all the
            services our new baby would require. Rana was our first speech
            therapy provider and immediately helped to ease our anxieties. She
            provided excellent education, both for our son and for us as
            parents. She went above and beyond her requirements, teaching us
            strategies and techniques to help our son succeed. She was patient,
            calm, and connected with us in a way that went beyond once a week
            therapy. Our son recently completed a comprehensive speech and
            language evaluation in preschool and received outstanding scores.
            Rana gave us the best foundation for learning, and we credit much of
            our son’s success to her teaching and guidance!” ~DS
          </h6>
        </div>

        <!-- < 2 /> -->
        <div class="bg-white p-8 grid gap-4">
          <div class="aspect-square overflow-hidden">
            <Image
              src={mh}
              alt="Service-4"
              class="h-full object-cover w-full"
            />
          </div>
          <h6 class="flex-1 text-wrap text-center">
            "My daughter began working with Rana at 6 months old after being
            diagnosed with unilateral sensorineural hearing loss. Rana's calm
            and kind demeanor immediately put my daughter at ease. As a parent,
            Rana listened to my concerns and presented clear and achievable
            goals that involved our whole family. We talked not only about our
            "homework" but also about my daughter's treatments and what options
            were available to her. Rana was an advocate, teacher and friend to
            my daughter and myself. My daughter is now thriving in kindergarten
            and I attribute much of her success and growth to our time with
            Rana." ~MH
          </h6>
        </div>

        <!-- <3 /> -->
        <div class="bg-white p-8 gap-4 grid">
          <div class="aspect-square overflow-hidden">
            <Image src={kt} alt="Service-4" class="h-full object-cover" />
          </div>
          <h6 class="text-wrap text-center">
            “Rana is a creative and caring speech therapist. She worked for two
            years with my toddler aged daughter creating activities that engaged
            my child to help her develop her speech pronunciation. Rana worked
            wonderfully to engage us in activities to then practice and further
            cement the areas of speech that needed more practice. She was also
            great at providing extra resources and learning materials to seek
            out different services as we progressed. I would recommend Rana to
            anyone whose child needs help to improve their speech.” ~KT
          </h6>
        </div>

        <!-- < 4 /> -->
        <div class="bg-white p-8 grid gap-4">
          <div class="aspect-square overflow-hidden">
            <Image
              src={th}
              alt="Service-4"
              class="h-full object-cover w-full"
            />
          </div>
          <h6 class="flex-1 text-wrap text-center">
            “We had the pleasure of working with Rana for nearly three years
            receiving early intervention speech services. She made an invaluable
            impact on my son’s speech and language development; she is
            especially skilled in providing services and resources for children
            with language delays. I’ve worked with multiple speech therapy
            providers both personally and professionally, but Rana’s patience,
            knowledge and genuineness make her stand out among the rest. I’d
            highly recommend her to anyone seeking quality and effective speech
            services.” ~TH
          </h6>
        </div>
      </div>
    </div>
  </section>

  <section class="py-12">
    <Calendly />
  </section>
</Layout>

<style>
  * {
    /* border: 1px solid red; */
  }
</style>
